# Create an OSEv3 group that contains the masters, nodes, and etcd groups
[OSEv3:children]
masters
nodes
etcd
nfs

# Set variables common for all OSEv3 hosts
[OSEv3:vars]
# ============================================
# Variaveis Gerais
# ============================================
openshift_deployment_type=openshift-enterprise
openshift_clock_enabled=true
ansible_ssh_user={{ admin_username_vm }}
ansible_ssh_pass={{ admin_password_vm }}
ansible_sudo_pass={{ admin_password_vm }}
# ============================================
# Configurações do Master
# ============================================
openshift_master_cluster_method=native
openshift_master_cluster_hostname={{ cluster_hostname }}
openshift_master_cluster_public_hostname={{ cluster_public_hostname }}
openshift_master_default_subdomain={{ subdomain }}
openshift_master_api_port=443
openshift_master_console_port=443
openshift_master_htpasswd_users={'admin': '$apr1$xySBCH36$Lzw6m81rKP/hIqJYbXUht0', 'developer': '$apr1$xySBCH36$Lzw6m81rKP/hIqJYbXUht0'}
openshift_master_identity_providers=[{'name': 'htpasswd_auth', 'login': 'true', 'challenge': 'true', 'kind': 'HTPasswdPasswordIdentityProvider'}]


# ============================================
# Configurações da Azure
# ============================================
openshift_cloudprovider_kind=azure
openshift_cloudprovider_azure_client_id={{ openshift_cloudprovider_azure_client_id  }}
openshift_cloudprovider_azure_client_secret={{ openshift_cloudprovider_azure_client_secret }} 
openshift_cloudprovider_azure_tenant_id={{ openshift_cloudprovider_azure_tenant_id }}
openshift_cloudprovider_azure_subscription_id={{ openshift_cloudprovider_azure_subscription_id }}
openshift_cloudprovider_azure_resource_group={{ resource_group_name }}
openshift_cloudprovider_azure_location={{ location_resource_group }}
# ===========================================
# Networking
# ===========================================
os_sdn_network_plugin_name='redhat/openshift-ovs-networkpolicy'
# ---------> As duas linhas abaixo devem ser alteradas em caso de coincidencia das redes no cliente. Sugere-se manter as mascaras. Atentar para rede Docker tambem. 172.17.0.0
osm_cluster_network_cidr=10.128.0.0/14
openshift_portal_net=172.30.0.0/16

# ============================================
# Configurações do Docker
# ============================================
# ----------> Mudar a linha abaixo caso mude a rede de servico 172.30.0.0/16
openshift_docker_options="--insecure-registry=172.30.0.0/16 --selinux-enabled --log-driver json-file --log-opt max-size=1M --log-opt max-file=3"

# ============================================
# Configurações da subscrição
# ============================================

# ===========================================
# Metrics Server
# ===========================================
openshift_metrics_server_install=true

# ============================================
# Prometheus Operator
# ============================================
openshift_cluster_monitoring_operator_install=true

# ===========================================
# Registry
# ===========================================
#openshift_hosted_registry_storage_kind=nfs
#openshift_hosted_registry_storage_access_modes=['ReadWriteMany']
#openshift_hosted_registry_storage_nfs_directory=/exports
#openshift_hosted_registry_storage_nfs_options='*(rw,root_squash)'
#openshift_hosted_registry_storage_volume_name=registry
#openshift_hosted_registry_storage_volume_size=10Gi

# ------> Descomentar caso seja usado Azure
openshift_hosted_registry_storage_kind=object
openshift_hosted_registry_storage_provider=azure_blob
openshift_hosted_registry_storage_azure_blob_accountname={{ storage_account_name }}
openshift_hosted_registry_storage_azure_blob_accountkey={{ storage_account_key }}
openshift_hosted_registry_storage_azure_blob_container=registry
openshift_hosted_registry_storage_azure_blob_realm=core.windows.net


# ===========================================
# Logging
# ===========================================
openshift_logging_install_logging=true
openshift_logging_es_nodeselector={"node-role.kubernetes.io/infra":"true"}

# Caso NFS...
openshift_logging_storage_kind=nfs
openshift_logging_storage_access_modes=['ReadWriteOnce']
openshift_logging_storage_nfs_directory=/exports
openshift_logging_storage_nfs_options='*(rw,root_squash)'
openshift_logging_storage_volume_name=logging
openshift_logging_storage_volume_size=10Gi



# ===========================================
# Service Catalog
# ===========================================
openshift_enable_service_catalog=true
ansible_service_broker_install=true
template_service_broker_install=true
template_service_broker_selector={"node-role.kubernetes.io/infra":"true"}
openshift_template_service_broker_namespaces=['openshift']
ansible_service_broker_local_registry_whitelist=['.*-apb$']

# ===========================================
# NFS
# ===========================================
openshift_enable_unsupported_configurations=true


# ===========================================
# 3.11 new stuff
# ===========================================
oreg_url = "registry.access.redhat.com/openshift3/ose-${component}:${version}"
openshift_examples_modify_imagestreams=true
openshift_install_examples=true

# host group for masters
[masters]
{{ masters_fqdn_only }}
# host group for etcd
[etcd]
{{ masters_fqdn_only }}

# host group for nodes, includes region info
[nodes]
{{ masters }}
{{ infras }}
{{ workers }}


[nfs]

